$bgColor: #fff;
$text: #333;

@font-face {
  font-family: 'TT Lakes', sans-serif;
  src: url('https://fontsfree.pro/base-web-fonts/sans-serif-grotesque/897-tt-lakes.html') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: 'TT Lakes', sans-serif;
  background-color: $bgColor;
  color: $text;
  line-height: 1.5;
}

// scss/style.scss
@import "./aside";
@import "./brandSwiper";
@import "./info";
@import "./repair";
@import "./prices";





