@import "./aside.scss";
@import "./brandSwiper.scss";
@import "./info.scss";
@import "./repair.scss";
@import "./prices.scss";

$bgColor: #fff;
$text: #333;

@font-face {
  font-family: 'TT Lakes', sans-serif;
  src: url('https://fontsfree.pro/base-web-fonts/sans-serif-grotesque/897-tt-lakes.html') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'TT Lakes', sans-serif;
  background-color: $bgColor;
  color: $text;
  line-height: 1.5;
}

.main {
  margin-left: 0;
}

/* Desktop: Position main to the right of sidebar */
@media (min-width: 1200px) {
  .main {
    margin-left: 320px;
  }
}







